<footer>
  <ul class="social">

    <li><a href="https://www.facebook.com/magda.azab.1"><img src='assets/images/socials/{{foreground}}/facebook.svg'></a></li>
    <li><a href="http://it.linkedin.com/pub/magda-azab/34/735/63/en"><img
            src="assets/images/socials/{{foreground}}/linkdin-14.svg"></a></li>
    <li><a href="http://www.pinterest.com/megrpx/"><img src="assets/images/socials/{{foreground}}/pintrest.svg"></a></li>
    <li><a href="https://www.behance.net/magdaazab"><img src="assets/images/socials/{{foreground}}/behance.svg"></a></li>

    <!--
    {% if foreground == 'blue' %}
      <li><a href="https://www.facebook.com/magda.azab.1"><img src='assets/images/socials/blue/facebook.svg'></a></li>
      <li><a href="http://it.linkedin.com/pub/magda-azab/34/735/63/en"><img
              src="assets/images/socials/blue/linkdin-14.svg"></a></li>
      <li><a href="http://www.pinterest.com/megrpx/"><img src="assets/images/socials/blue/pintrest.svg"></a></li>
      <li><a href="https://www.behance.net/magdaazab"><img src="assets/images/socials/blue/behance.svg"></a></li>
    {% elsif foreground == 'yellow' %}
      <li><a href="https://www.facebook.com/magda.azab.1"><img src='assets/images/socials/yellow/facebook.svg'></a></li>
      <li><a href="http://it.linkedin.com/pub/magda-azab/34/735/63/en"><img
              src="assets/images/socials/yellow/linkdin-14.svg"></a></li>
      <li><a href="http://www.pinterest.com/megrpx/"><img src="assets/images/socials/yellow/pintrest.svg"></a></li>
      <li><a href="https://www.behance.net/magdaazab"><img src="assets/images/socials/yellow/behance.svg"></a></li>
    {% elsif foreground == 'grey' %}
      <li><a href="https://www.facebook.com/magda.azab.1"><img src="assets/images/socials/grey/facebook.svg"></a></li>
      <li><a href="http://it.linkedin.com/pub/magda-azab/34/735/63/en"><img
              src="assets/images/socials/grey/linkdin-14.svg"></a></li>
      <li><a href="http://www.pinterest.com/megrpx/"><img src="assets/images/socials/grey/pintrest.svg"></a></li>
      <li><a href="https://www.behance.net/magdaazab"><img src="assets/images/socials/grey/behance.svg"></a></li>
    {% endif %}
    -->
  </ul>
</footer>


