<footer>
  <ul class="social">

    <li><a href="https://www.facebook.com/magda.azab.1"><img src='/assets/images/socials/{{foreground}}/facebook.svg'></a></li>
    <li><a href="http://it.linkedin.com/pub/magda-azab/34/735/63/en"><img
            src="/assets/images/socials/{{foreground}}/linkdin-14.svg"></a></li>
    <li><a href="http://www.pinterest.com/megrpx/"><img src="/assets/images/socials/{{foreground}}/pintrest.svg"></a></li>
    <li><a href="https://www.behance.net/magdaazab"><img src="/assets/images/socials/{{foreground}}/behance.svg"></a></li>

  </ul>
</footer>


