<section class="works">
    <aside>

        {% include navigation.html %}

        <div class="works-container">

            {% include works/london.html %}
            {% include works/london.html %}
            {% include works/london.html %}

        </div>

    </aside>

    <article class="works">

        {% include works/london.html %}
        {% include works/london.html %}
        {% include works/london.html %}

    </article>

    <article class="works">

        {% include works/london.html %}
        {% include works/london.html %}
        {% include works/london.html %}

    </article>

</section>

