{% assign mpx_show="thumb" %}

<section class="works">
    <aside>

        {% include navigation.html %}

    </aside>

    <article class="works">

        {% for work in site.data.works_sx %}
        <a href="{{ site.prefix  }}{{ work.url }}" class="item">
            <figure class="">

                <figcaption style="background-color:{{backcolor}};color:{{forecolor}};">

                    <h2>{{ work.title }}</h2>

                    <h3>{{ work.date }}</h3>

                    <p>
                        {{ work.short_description }}
                    </p>

                </figcaption>

                <img src="/assets/images/works/{{work.name}}/thumb.png">

            </figure>
        </a>
        {% endfor %}

    </article>

    <article class="works">

        {% for work in site.data.works_sx %}
        <a href="{{ site.prefix  }}{{ work.url }}" class="item">
            <figure class="">

                <figcaption style="background-color:{{backcolor}};color:{{forecolor}};">

                    <h2>{{ work.title }}</h2>

                    <h3>{{ work.date }}</h3>

                    <p>
                        {{ work.short_description }}
                    </p>

                </figcaption>

                <img src="/assets/images/works/{{work.name}}/thumb.png">

            </figure>
        </a>
        {% endfor %}

    </article>

</section>

