{% assign date="October 2014" %}
{% assign name="london_multi" %}
{% assign title="London multifaces" %}
{% assign short_description="Prize for illustration 2015 submission" %}
{% assign description="Illustrazione realizzata per il concorso annuale inglese indetto dall'associazione illustratori in partnership con il London Transport Museum. Il tema di quest'anno era: London places and spaces" %}
{% assign backcolor="#A51F25" %}
{% assign forecolor="" %}

{% if mpx_show == 'thumb' %}
    {% include singleWork.html %}
{% endif %}
