@import "flex-mixins";
@import "mixins";
@import "responsiveness";

@blue: #25408E;
@yellow: #E8C200;
@gray: #CDD6CE;
@dark_blue: #1E2B46;
@white: #FFFFFF;

//1024x640

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 47 * @one_px;
  //margin: 13px*@one_px 0 2px*@one_px 0; // 13 : 448 = x : 100 & 2 : 448 = x : 100
  margin: 3.8% 0 0.8% 0;
}

h2 {
  //font-size: 40 * @one_px;
  font-size: 360%;
  //margin: 13px*@one_px 0 2px*@one_px 0;
  margin: 5% 0 1.6% 0;
}

h3 {
  .border_light();
  font-style: italic;
  font-size: 13 * @one_px;
  margin: 0;
}

p {
  //font-size: 16 * @one_px;
  margin: 4*@one_px 0 18*@one_px 0;
  font-size: 118%;
  line-height: 1.35;
}

html, body {
  .display-flex();
  .flex(1, 1, 100%);
  .flex-direction-col();
  height: 100%;
  width: 100%;
}

body {
  margin: auto;
  font-family: Futura-Medium; //, Futura, "Trebuchet MS", Arial, sans-serif;
  color: @blue;
  overflow: hidden;
  &.about {
    background-color: @gray;
  }
  &.works {
    //background-color: @dark_blue;
    background-color: @white;
    color: @yellow;
    overflow-y: scroll;
  }
  &.shops {
    background-color: @yellow;
    color: @blue;
  }
  &.contacts {
    background-color: @blue;
    color: @gray;
  }
}

header, footer, section {
  .display-flex();
  .justify-content-space-between();
  margin: 0 @page_offset;
}

header {
  .flex(0, 0, @header_height);
  height: @header_height;
}

footer {
  .flex(0, 0, @footer_height);
  height: @footer_height;
}

section {
  .flex(1, 1, auto);
  &.works {
    .flex(1, 0, auto);
  }
}



aside, article, nav, ul, li, div {
  .display-flex();
  .flex-direction-col();
}

aside, article {
  min-width: @column_width;
}

aside {
  .works-container {
    padding-top: @column_filler*2;
    .item {
      padding-left: 0;
    }
  }
}

article.works {
  border: none;
  &:last-of-type {
    .item {
      padding-right: 0;
    }
  }
}

mark {
  font-family: "Futura-Medium-Oblique";
  background: none;
  color: @blue;
}

.navigation, .content {
  .border_bold();
  nav {
    font-family: "Futura-Medium-Oblique";
    width: 100%;
    a {
      text-decoration: none;
      .border_light();
      //line-height: 1.8;
      letter-spacing: 1.1 * @one_px;
      font-size: 118%;
      line-height: 1.35;
      padding-bottom: 0.25em;
      &:last-child {
        border: none !important;
      }
    }

  }
  &.works {
    .border_bold(@yellow);
    nav > a {
      .border_light(@yellow);
    }
  }
  &.contacts {
    .border_bold(@gray);
    nav > a {
      .border_light(@gray);
    }
  }

}

.margin-right {
  margin-right: @column_filler;
}

.margin-left {
  margin-left: @column_filler;
}

.big_gif {
  .flex(1, 1, auto);
  border: none;
  margin: 0;
  .margin-left {
    margin-left: @column_filler/2;
  }
  img {
    width: 100%;
  }
}

ul.social {
  .flex-direction-row();
  .flex(1, 1, 100%);
  .align-items-center();
  .justify-content-to-right();
  li {
    width: 2em;
  }
}

.column {
  .flex(1, 1, 50%);
}

figure {
  margin: 0;
  position: relative;
}

.item {
  .flex(0, 0, auto);
  padding: 0 @column_filler (@column_filler*2) @column_filler;
  margin: 0;
  position: relative;
  &:first-child {
    padding-top: 0;
  }
  img {
    .flex(1, 0, auto);
    width: 100%;
  }
  figcaption {
    display: none;
    color: @dark_blue;
    background-color: @yellow;
    height: 100%;
    width: 100%;
    //padding: 0 @column_filler (@column_filler*2) @column_filler;
    position: absolute;
    .flex-direction-col();
    .flex(1, 1, auto);
    //width: 100% - @column_filler;
    //height: 100% - (@column_filler*2);
  }
  &:hover {
    img {
      //display: none;
      opacity: 0.1;
      -webkit-filter: saturate(0);
    }
    figcaption {
      .display-flex();
      z-index: 100;
    }
  }
}

.logo {
  margin: 6.2% 0 2% 0;
  height: 4em;
}
