{% assign background="white" %}
{% assign foreground="blue" %}

<!DOCTYPE html>
<html>

{% include head.html %}

<body class="{{ background }} works">

{% include header.html %}

<section class="works">
    <aside>

        {% include navigation.html %}

        <div>
            <p> {{ title }}</p>

            <p>
                {{ description }}
            </p>
        </div>

    </aside>

    <article class="big_gif">
        <div class="margin-left">

            {{ content }}

        </div>
    </article>

</section>

{% include gallery.html %}

{% include footer.html %}

</body>

</html>
